.create-task-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2ch;
  padding: 0 2ch;
  width: 100%;
  height: 35px;
  background: rgba(100 100 100 /0.1);
  border-radius: 5px;
}

/* INPUT */
.text-input {
  background: none;
  width: 100%;
  height: 100%;
  font-size: 0.7em;
}

/* BUTTON */
.button {
  padding-top: 4px;
  background: none;
  color: #aaa8;
  display: none;
  animation: fade-in 200ms ease-in-out;
}

.button:hover {
  color: #eee;
}

.create-task-container:hover .button,
.text-input:focus + .button {
  display: inline-block;
}

/* SAVE-BUTTON */
.save-button {
  background: rgba(100 100 100 / 0.1);
  color: rgba(100 100 100 / 0.3);
  border-radius: 5px;
  padding: 0.8ch 2ch;
  transition: all 200ms ease-in-out;
  pointer-events: none;
  transition: all 200ms ease-in-out;
}
.save-button:active {
  transform: scale(0.95);
}

.text-input:valid ~ button.save-button {
  background: var(--primary-color);
  color: var(--primary-text-color);
  pointer-events: all;
}
